.code {
  font-size: 50px;
  padding-left: 70px;
}

.failure {
  color: #d9534f;
}

.success {
  color: #5cb85c;
}

.form-inline {
  margin-bottom: 10px;
}

.message {
  font-weight: bold;
}

.btn-primary{
  background-color:#8600b3;
}

.btn-primary:hover{
  background-color:#9900cc;
}

.btn-primary:active{
  background-color:#60ff80;
}
